@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1d1e22;
    color:  #fff;
    font-family: "Roboto", sans-serif;
    border-radius: 3px;
}

/* #root
{
    width: 100%;
} */

.headerList
{
    list-style: none;
    font-size: x-large;
    display: flex;
    gap: 3%;
    justify-content: center;
    margin-top: 0.5%;
    width: 75%;
    padding-bottom: 1%;
    /* border-bottom: 1px solid white ; */
    margin-inline: 15%;
    background-color: #393f4d;
   
}

.main-name
{
    position: absolute;
    left: 1%;
    top: 2%;
    font-size: 140%;
    font-weight: 900;
    background-image: url("./gradient.jpg");
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.header-opt
{
    cursor: pointer;
    font-weight: 700;
    background-color: #393f4d;
    margin-top: 10px;
    letter-spacing: 0.03em;
}

.jsonMainDiv
{
    width: 90%;
    margin-inline: 5%;
    height: 540px;
    margin-top: 7%;
    display: flex;
    gap:1%

}


.json-area
{
    width: 48%;
    height: 100%;
    font-size: larger;
   
    overflow: auto;
    color: #fff;
    border: 1px solid #fff;
}

.main-container
{
    width: 100%;
    
}

.reportbug
{
    font-size: medium;
    position: absolute;
    right: 1%;
    top: 2%;
    cursor: pointer;
}

.fa-bug
{
    color: red;
}

.main-numeric
{
    position: relative;
    width: 6%;
    z-index: 1 ;
    padding: 0 1% ;
    padding-top: 2px;
    font-size: larger;
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    border: 1px solid #fff;
    line-height: 1.4em;
}


.keyClass
{
    color: #feda6a;
    background-color: #46474a;
}

.output-area
{
    padding-top: 2px;
    border: 1px solid #fff;
    width: 48%;
    height: 100%;
    font-size: larger;
    padding-left: 5%;
    overflow: auto;
    /* overflow-y: auto; */ 
    word-wrap: break-word;
    color: #fff;
    background-color: #46474a;
    line-height: 1.4em;
}

.json-toolBar
{
    position: absolute;
    top: 19%;
    /* border: 1px solid red; */
    display: block;
    font-size: large;
    width: 90%;
    height: 35px;
}

.json-toolBar button
{
    font-size: large;
    padding: 3px 7px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 5px;
    border: 1px solid white;
    background-color: white;
    color: #1d1e22;
}

.input-toolBar :hover , .output-toolBar :hover 
{
    background-color:#1d1e22 ;
    color: white;
}

.input-toolBar
{
    position: absolute;
    right: 54%;
    display: flex;
}

.output-toolBar
{
    position: absolute;
    right: 0%;
    display: flex;
}

pre , .innerTag
{
    background-color: #46474a;
    font-size: 21px;
}

.innerTag
{
    font-size: 21px;
    
}

.minimized-span
{
    cursor: pointer;
}

.arrow-icon
{
    font-size: small;
    color: #feda6a;
    padding-left: 3px;
}

.div-span
{
    font-size: medium;   
}

.copySpan
{
    padding: 3px 7px;
    font-weight: 600;
    font-size: large;
    background-color: green;
    display: none;
}

.invalidJson
{
        font-size:large ;
        background-color: #46474a;
        color: rgb(250, 182, 182);
        display: block;
        letter-spacing: 0.05em;
        margin-inline: 5%;

}

.sadEmoji
{
    background-color: #46474a;
    color: #585656;
    /* border: 1px solid red; */
    position: relative;
    top: 20%;
    left: 10%; 
    font-size: 300px;
}

#Json
{
    color: #feda6a;
}



            /* LIST PAGE CSS */

  .listMainpage
  {
    position: relative;
    width: 95%;
    margin-inline: 2%;
    height: 540px;
    margin-top: 2%;
    display: none;
    /* display: none; */
    grid-template-columns: 1fr 1fr 1.5fr;
    grid-template-rows: 1fr 1fr;

    gap: 1%;
    row-gap: 2%;
    
  } 

  .list-Operation
  {
    grid-column: 1/-2;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2%;
  }
  
  .list-textArea
  {
        font-size: large;
        overflow: auto;
  }

  .list3TextArea
  {
        grid-row: 1/3; 
        grid-column: 3/3;
        background-color: #1d1e22;
        border:  1px solid #fff;
  }

  .list-btn
  {
     color: #fff;
     font-size: larger;
     border: 1px solid #fff;
     cursor: pointer;
     font-weight: 600;

    }


    .list-btn:hover
    {
        background-color: #fff;
        color: #1d1e22;
    }  
  

  textarea::placeholder 
  {
        font-size: 60px;
        position: absolute;
        left: 30%;
        top :45%;
        color: #303545;
        
  } 

  .opsTitle
  {
    font-size: xx-large;
    text-align: center;
    text-transform: capitalize;
    font-weight: 700;
    color: #feda6a;
  }

  .opsDesc
  {
      padding: 3px;
    padding-left: 13%;
    width: 100%;
    border-bottom: 1px solid #fff;
  }


  .listtool-btn
  {
    display: flex ; 
    flex-direction: row;
    justify-content: flex-start;
    gap: 2px;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
    margin-top: 3%;
  }

  .listtool-btn button:hover
  {
      background-color: #1d1e22;
      color: #fff;
  }  

  .listtool-btn button
  {
    margin-top: 2%;
    font-size: large;
    padding: 3px 7px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 5px;
    border: 1px solid white;
    background-color: white;
    color: #1d1e22;
    
  }

  .fa-info
  {
    font-size: large;
    float: right;
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
    border: 1px solid #fff;
    cursor: pointer;
    background-color: #fff;
    color: #1d1e22;
    font-weight: 1000;
    position: absolute;
    top: 0.5%;
    right: 0.5%;
  }

  .fa-info:hover
  {
    background-color: rgba(230, 202, 45, 0.945);
    color: #fff;
  }

  .modalMainDiv
  {
    display: none;
    position: fixed;
    width: 100%;
    margin-inline:20%;
    height: 100%;
    position: absolute;
    top: 54%;
    left: 30%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(18, 18, 18, 0.2); /* Adjust the opacity as needed */
    backdrop-filter: blur(30px); /* Adjust the blur radius as needed */
    border: 1px solid #ccc;
    z-index: 10;
    /* border: 1px solid red; */
  }



  #operationInfo {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
}

.operation-info {
    width: calc(33.33% - 20px); /* Adjust width as needed */
    margin: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* background-color: #f9f9f9; */
}

.operation-info h3 {
    margin-top: 0;
    font-size: 18px;
    color: #feda6a;
}

.operation-info p {
    margin-top: 1%;
    margin-bottom: 0;
}

.main-info
{
    /* background-color: #1d1e22; */
    color: orange;
    font-size: x-large;
    padding: 3px;
    position: absolute;
    top: 4%;
    width: 65%;
}

.fa-xmark
{
    position: absolute;
    right: 2%;
    top :2%;
    font-size: 70px;
    background-color: rgba(18, 18, 18, 0.2); /* Adjust the opacity as needed */
    backdrop-filter: blur(30px);
}

.result
{
    position: absolute;
    width: 41%;
    height: 78%;
    overflow: auto;
    font-size: larger;
    padding-left: 2%;
    padding-top: 2%;
    /* border: 1px solid red; */
}

.singleLineOutput
{
    font-size: x-large;
    position: relative;
    top:10%;
    left: 15%;
}

.answer
{
    color: green;
    border-bottom: 2px solid green;
}

.listCopyStyle
{
    background-color: green;
    border: 1px solid white;
    font-weight: 800;
}



            /* ENCODING CSS */


  .encodingMain
  {
    position: relative;
    width: 75%;
    margin-inline: 15%;
    height: 500px;
    margin-top: 2%;
    border: 1px solid #fff;
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 8fr;
  }      
  
  .enInputOption ,.enOutputOption
  {
    
    border:  1px solid #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
  }

  .enOutputOption
  {
    border:  1px solid #fff;
  }

  .encodeInput ,.encodeOutput
  {
    border:  1px solid #fff;
    font-size: larger;
    padding-top: 3%;
    padding-left: 2%;
    overflow: auto;
  }



  .encode-btn:hover
  {
      background-color: #1d1e22;
      color: #fff;
  }  

  .encode-btn
  {
    margin-right: 5px;
    margin-top: 2%;
    font-size: large;
    padding: 3px 7px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 5px;
    border: 1px solid white;
    background-color: white;
    color: #1d1e22;
}

  .encodecopySpan
  {
        background-color: green;
        color: #fff;
        display: none;
  }

  .encodeOutputTitle
  {
    font-size: xx-large;
    margin-left: 10%;
    color: #feda6a;
    margin-right: 25%;
  }